{
	"tabWidth": 2,
	"useTabs": true,
	"semi": true,
	"singleQuote": true,
	"trailingComma": "all",
	"bracketSpacing": true,
	"arrowParens": "always",
	"printWidth": 100,
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true,
	"importOrderCaseInsensitive": true,
	"importOrderParserPlugins": ["classProperties", "decorators-legacy", "typescript"],
	"importOrder": [
		"<THIRD_PARTY_MODULES>",
		"^@/prisma/generated",
		"^@/infra/(.*)",
		"^@/configs/(.*)",
		"^@/api/(.*)",
		"^@/(.*)$",
		"^../(.*)",
		"^./(.*)"
	],
	"plugins": ["@trivago/prettier-plugin-sort-imports"]
}
